$default:#f34;
$test: 1px red solid;


.new-block{
    background:red;
    width:120px;
    height:120px;
    border-radius: 60px;
    border:1px red solid;
    margin: 0px 5px;
    animation: increaseHeight .4s forwards;
  
    .new-box{
  
      @keyframes increaseHeight {
        from{
          width: 0px;
        }
        to{
          width: 120px;
        }
      }
    }
  
    
  }